/* header */
.navigation {
    background-color: #000000;
    display: flex;
    box-sizing: border-box;
    justify-content: center; 
    align-items: center;
    max-width: 1249px;
    width: 100%;
    min-height: 89px;
    margin: 0 auto;
    padding: 0 17px;

    }

.menu {
    background-color: #F6F2F2;
     
    }


    
.let {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E0E0E0;
    font-family: 'OpenSans';
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    min-width: 113px;
    min-height: 89px;
} 

.let:hover {
     max-width: 90px;
    background-color: #FF3F40;
}
   
.page {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 16px;
}

@media (max-width: 750px) {
    .navigation {
     justify-content: space-between;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
    }
}
  
/* Блок интро */

.blok-menu {
    flex-grow: 1;
}

.blok-grey {
    background: #F6F2F2;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

.heding {
padding: 5px 0;
margin: 40px 0;
font-family: 'OpenSans';
font-size: 60px;
line-height: 72px;
letter-spacing: 1.5px;
text-transform: uppercase;
flex-wrap: wrap;
max-width: 618px;
min-height: 117px;
width: 100%;
}

.text {
font-family: 'OpenSans';
line-height: 28px;
margin: 0;
padding: 10px 0;
max-width: 618px;
font-size: 16px;
width: 100%;

}

.intro-contakt {
    display: inline-block;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    max-width: 227px;
    width: 100%;
    min-height: 55px;
    font-family: 'OpenSans';
    margin: 40px 0 50px;
}

.btn-red {
   
    left: 163px;
    top: 510px;
    
    font-size: 18.0412px;
    font-weight: 700px;
    background-color: #FF2D2D;  
    color: #FFFF;  
}


.rectangle-red {
    max-width: 552px;
    min-height: 356px;
    width: 100%;
}
.rectangle {
    display: flex;
    justify-content: right;
}

/* servis */

.content-servis {
    margin: 0 60px 0 0;
}
.section-servis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

.servis-heding {
    max-width: 184px;
    width: 100%;
    min-height: 24px;
    font-family: 'OpenSans';
    font-size: 24.0692px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.271838px;
    
    color: #000000;
}

.servis-heding-2 {
    max-width: 523px;
    width: 100%;
    min-height: 87px;
    
    font-family: 'OpenSans';
    font-size: 42.1902px;
    line-height: 55px;
        
    display: flex;
    align-items: center;
    letter-spacing: 0.422159px;
    text-transform: uppercase;
    
    color: #000000;  
    
    padding: 5px 0;
margin: 40px 0;
flex-wrap: wrap;

}

.btn-blu {
    font-size: 18.0412px;
    font-weight: 700px;
      
    
    color: #FF0000;    
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #FF0000;
}



.servis-text {
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    
    display: flex;
    align-items: center;
    
    color: #000000; 
}

.servis-iconka {
    display: flex;
    justify-content: left;    
}

.servis-blok {
    margin: 60px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;   
   
}

/* черта  */ 

.feature-big {
    max-width: 1251px;
    width: 100%;
    min-height: 5px;
    background: #ECECEC;
}

.feature-big:hover {
   
   background-color: #FF3F40;
}

/* продукты */

.section-feature-products {
    margin: 0 auto;
}

.feature-products-heding {
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;  

}

.feature-heding {
    font-family: 'OpenSans';
    font-size: 42px;
   
    letter-spacing: 0.3834px;
    text-transform: uppercase;    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    color: #000000;   
}

.feature-text {
    font-family: 'OpenSans';
    font-size: 15.9953px;
    line-height: 28px;
    /* or 175% */
    justify-content: center;
    margin: 20px auto;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;  
}

.feature-small {
    max-width: 134px;
    min-height: 5px;
    width: 100%;
    justify-content: center; 
    background: #FF2D2D; 
}

.feature-products-list {
    display: flex;
    justify-content: center;  
    flex-direction: row; 
    flex-wrap: nowrap;
    margin: 0 auto;
}
.products {
    padding: 15px;
}

.products {
    font-family: 'OpenSans';
    font-size: 22px;
    line-height: 24px;
       
    display: flex;
    align-items: center;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    color: #000000;
  
}

.products:hover {
   
    color : #FF3F40;
 }

.pic {
    max-width: 1432px;
    width: 100%;
    min-height: 683px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-work {
    padding: 0 12px 0 12px;
}

.feature-small-line {
    max-width: 134px;
    min-height: 5px;
    width: 100%;
    display: flex;
    justify-content: start; 
    margin: 0;
    background: #FF2D2D;   
}
/* команда */

.section-team {
    margin: 0 320px;
}

.team {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    margin: 0;
    
    
}

.team_members {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    text-align: center;
    margin: 60px auto;  
}

.team_main_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.team_section_name {
    max-width: 240px;
    min-height: 23px;
    width: 100%;
    font-family: 'OpenSans';
    font-size: 32px;
    align-items: start;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 700;
}

.team_section_about {
   
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    max-width: 663px;
    min-height: 45px;
    width: 100%;
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 28px;
    
    margin: 20px 0;
    color: #000000; 
}

.team_main_content {
    margin: 0 25px;
}

.team-heding {
    max-width: 374px;
    min-height: 32px;
    width: 100%;

    font-family: 'OpenSans';
    font-size: 42px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3834px;
    text-transform: uppercase;
    color: #000000;
}



.team_section_photo {
    margin: 0;
}

.team-heding-text {
    max-width: 479px;
    min-height: 73px;

    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 28px;
/* or 175% */

display: flex;
align-items: center;

color: #000000;
}


.team_section_links {
  
    flex-direction: row; 
    flex-wrap: nowrap;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
}

.team_section_link {
    padding: 0 15px 0 0;
    font-style: italic;
    text-decoration: none;
    color: #000000;
}

.members {
    display: flex;
    align-items: flex-end;
  margin: 42px 0 0 0;
}
.member {
    position: relative;
    margin-top: 18px;
}

.member:hover>.member_name {
    visibility: visible;
}
.member:not(:last-child) {
    margin-right: 18px;
}

.member_name {

    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    color: aliceblue;
    position: absolute;
    width: 100%;
   height: 38px;
   margin: 0;
   text-align: center;
   bottom: 0;
   opacity: 0,5px;
   font-style: italic;
   background-color: #73083d;
   
}

.team_section_link:hover {
    color: #FF0000;
}

@media (max-width: 1080px) {
    .section-servis {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        padding: 0 5px;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 1265px) {
    .rectangle {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; 
        width: 100%;
    }

    .blok-grey {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; 
        width: 100%;
        width: auto;
        height: auto;
    }

    .heding {
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 0 5px;
        text-align: center;
    }

    .text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        width: auto;
        height: auto;
        text-align: center;
    }
    .section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        width: auto;
        height: auto;
    }

    .intro-contakt {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

@media (max-width: 550px) {
.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
     width: 100%;
     width: auto;
     height: auto;
    }

    .heding {
        justify-content: space-between;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        width: 100%;
        font-size: medium;
        }
    }
